server{
    port: 6001
    host: 127.0.0.1
    server_name: fqef
    server_name: fqef
	root_directory: /nfs/homes/iszitoun/Desktop/bhazzout
    error_page: 404 /nfs/homes/iszitoun/Desktop/bhazzout/error/404.html
    max_length: 1000000000
    location: /locat1 {
        method: get
        method: delete
        autoIndex: on
        Index:  index.php
        return: autoIndex1.html
    }
    location: /cgi-bin {
        method: get
        method: delete
        method: post
        autoIndex: on
        cgiStatus: on
		root_directory: /nfs/homes/iszitoun/Desktop/bhazzout
        cgi_path: .py /usr/bin/python3
        cgi_path: .php ../bin/php-cgi
    }
    location: /error1 {
        autoIndex: on
        Index:  error5
        return: autoIndex1.html
		root_directory: /resource4
    }
    location: / {
        method: get
        method: delete
        method: post
        autoIndex: on
        upload_store: /nfs/homes/iszitoun/Desktop/bhazzout/multiplexing/uploads

    }
}
server{
    port: 6002
    host: 127.0.0.2
    server_name: fqef
    server_name: fqef
	root_directory: /nfs/homes/iszitoun/Desktop/bhazzout
    error_page: 420 ./error/somethingPage.html
    max_length: 10000000
    location: / {
        method: get
        method: delete
        autoIndex: on
        root_directory: /nfs/homes/iszitoun/Desktop/bhazzout
        return: autoIndex.html
        upload_store: /nfs/homes/iszitoun/Desktop/bhazzout/multiplexing/uploads
    }
    location: /locat1 {
        method: post
        method: get
        method: delete
        autoIndex: on
        Index:  index.php
        return: autoIndex1.html
        upload_store: /www/upload
    }
    location: /cgi-bin {
        method: get
        method: delete
        autoIndex: on
        return: autoIndex1..
		root_directory: /nfs/homes/iszitoun/Desktop/bhazzout
        cgi_path: .py /usr/bin/python3
        cgi_path: .php ../bin/php-cgi
    }
    location: /error1 {
        autoIndex: on
        Index:  error5
        return: autoIndex1.html
		root_directory: /resource4
    }
}