server{
    port: 6001
    host: 127.0.0.1
    server_name: fqef
    server_name: fqef
	root_directory: /home/chaotic/Desktop/WebServ
    error_page: 420 ./error/somethingPage.html

    location: /multiplexing/ {
        method: post
        method: get
        method: delete
        autoIndex: on
        Index:  file.png 
        return: autoIndex1.html
        upload_store: /www/upload
    }
    location: /op/ {
        method: get
        autoIndex: on
        return: autoIndex2.html
        upload_store: /www/op
    }
}