server{
    port: 6001
    host: 127.0.0.1
    server_name: vvv
    server_name: asfadsfeqgqeq
    server_name: 1231
    error_page: 404 ./error/errorPage.html
    error_page: 420 ./error/somethingPage.html
    error_page: 410 ./error/otherPage.html

    location: / {
        methods: post get delete
        autoIndex: on
        return:  autoIndex.html
        upload_store: /www/upload
    }
}
