server{
    port: 6001
    host: localhost
    server_name: issam
    error_page:
    error_page: 420 ./error/somethingPage.html
    error_page: 410 ./error/otherPage.html
    location: / {
        method: post
        method: get
        method: delete
        autoIndex: on
        Index:  error 
        return: autoIndex.html
        upload_store: /www/upload
    }
}